body{
  margin: 0;
  padding: 0;
  background-image: url(../images/fond1.jpg);
  background-size: cover;
 }  
 
 #logo {
   width: 200px;
   height: auto;
   margin-left: 40px;
   padding: 0px;
 }
 
 nav {
   width: 60%;
 }
 
 ul {
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-between;
 }
 
 li {
   width: 100px;
   height: 20px;
   padding: 10px;
   border-radius: 10px;
   background-color:#EFE7ED;
   border: 1px solid #807E7E;
   text-align: center;
   
 }
 #bandeau {
   background-image: url(../images/image3.jpg);
   height: 300px;
   background-size: cover;
   display: flex;
   align-items: flex-end;
}
 
 main {
     display: flex;
     flex-direction: row;
     flex-flow: wrap;
     justify-content: space-around;
   }
 
  article {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 20px;
   width: 25%;
   border: 2px solid #A97C9F;
 }
 
 #gateau1, #gateau2, #gateau3, #gateau4, #gateau5{
   width:70%;
 }
 
 a{
   color:black;
   text-decoration: none;
 }
 a:visited{
   color: rgb(173, 36, 148);
 }
 
 .mainmenubtn {
  background-color: rgb(199, 144, 199);
  color: rgb(146, 28, 107);
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}

.mainmenubtn:hover {
  background-color: rgb(132, 177, 214);
  }
  
.dropdown {
  position: relative;
  display: inline;
}
.dropdown-child {
  display: none;
  background-color:  rgb(223, 188, 223);
  min-width: 200px;
}
.dropdown-child a {
  color: rgb(43, 37, 37);
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

 footer {
   margin-top: 10px;
   height:40px;
   background-color: #F5DCDF;
   padding:20px;
 }

 @media screen and (max-width: 450px) 
 {
   article
   {
     width: 50%;
   }
   
 }

@media screen and (min-width: 400px) and (max-width: 1200px) 
{
  article
 {
   width: 25%;
  }
    
}