
   
    body{
    margin: 0;
    padding: 0;
    background-image: url(../../images/fond1.jpg);
    background-size: cover;
   }  
 
   #logo {
     width: 200px;
     height: auto;
     margin-left: 40px;
     padding: 0px;
   }
   
   nav {
     width: 60%;
   }
   
   ul {
     display: flex;
     flex-direction: row;
     list-style: none;
     justify-content: space-between;
   }
   
   li {
     width: 70px;
     padding: 8px;
     border-radius: 10px;
     background-color:#EFE7ED;
     border: 1px solid #807E7E;
     text-align: center;
    }

   #bandeau {
     background-image: url(../../images/image3.jpg);
     height: 200px;
     background-size: cover;
     display: flex;
  }
   
   main {
       display: flex;
       flex-direction: row;
       flex-flow: wrap;
       justify-content: space-around;
    }
   
   article {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
     margin-left: 10px;
     margin-right: 10px;
     padding: 10px;
     width: 25%;
     border: 2px solid #A97C9F;
    }

   #gateau1, #gateau2 {
     width: 80%;
   }
   
   a{
     color:black;
     text-decoration: none;
   }
   a:visited{
     color: rgb(173, 36, 148);
   }
   
   footer {
     margin-top: 10px;
     height:40px;
     background-color: #F5DCDF;
     padding:20px;
   }
