body{
  background-image: url(../../images/fond1.jpg);
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
 } 

 html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


#bandeau{
  background-image: url(../../images/image3.jpg);
  height: 50vh;
  background-size: cover;
  margin-top: 80px;
}

h2 {
  color: #962665;
  text-align: right;
  font-family: 'Dancing Script', cursive;
  opacity: 80%;
  text-shadow: rgb(150, 135, 144) 8px 6px 4px;
  padding: 10px 40px;
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1rem;
}


.navbar-custom .navbar-nav .nav-link:hover{
  color: #502b40;
}

h5{
  color: #502b40;
  text-align: center;
  padding-top: 20px;
  }

.flash{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  }

.qr_code{
  background-image: url(../../images/qr_code.png);
  background-size: cover;
  height: 100px;
  width: 100px;
  margin-left: 80px;
  }

ol li{
  text-transform: uppercase;
  line-height: 25px;
  font-size: 12px;
  }

  article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 2px;
  padding: 20px;
  border: 2px solid #A97C9F;
}

#gateau1, #gateau2, #gateau3, #gateau4, #gateau5{
  width:70%;
}

.button{
  text-decoration: none;
  color:#502b40;
  background: #e4dce2;
  border: #502b40 1px solid;
  border-radius: 5px;
  padding:2px;
  margin:10px 0 7px 0;
  font-size: 14px;
  }
  
.button:hover{
  color:#502b40;
  text-decoration: none;
  background: #cfcace;
  box-shadow: 2px 10px 10px -5px black;
  transition: all 0.5s ease;
  }

#video{
  margin: 30px 0 30px 0;
}

.comment{
  position: relative;
  right: -40px;
}

.comment p{
font-size: 14px;
text-transform: uppercase;
}

.comment a{
text-decoration: none;
color:#502b40;
background: #e4dce2;
border: #502b40 1px solid;
border-radius: 5px;
padding:6px 10px;
}

.comment a:hover{
  color:#502b40;
  background: #cfcace;
  box-shadow: 2px 10px 10px -5px black;
  transition: all 0.5s ease;
}

.panier{
  padding-top:10px;
  color:rgb(133, 25, 116);
}

.commande{
  color:rgb(133, 25, 116);
}

.commande p{
  margin-right: 40px;
}
.commande button{
  border: 1px solid #807E7E;
  border-radius: 5px;
  background-color:#dad5d8;
  color:rgb(121, 23, 106);
  margin-right: 40px;
}

.commande button:hover{
  background: #c9c5c5;
  box-shadow: 2px 10px 10px -5px black;
  transition: all 0.5s ease;
}

#erreur {
  display: flex;
  padding: 30px 0 10px 50px;
}

footer {
  height:90px;
  background-color: #F5DCDF;
  padding:10px 20px 20px 20px;
  margin-top: 30px;
}

.mail p{
  color: #502b40;
  margin: 0;
}

.tel p{
  margin: 8px 0 0 0;
}

.list ul {
  padding-left: 7px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.list ul li a{
  text-decoration: none;
}

.réseau_social a{
  padding: 5px 2px;
}

