body{
  margin: 0;
  padding: 0;
  background-image: url(../../images/fond1.jpg);
  background-size: cover;
 } 

 html{
   box-sizing: border-box;
 }
 
 #logo {
   width: 25%;
   height: auto;
   margin-left: 40px;
   padding: 0px;
 }

 #bandeau{
   background-image: url(../../images/image3.jpg);
   height: 50vh;
   background-size: cover;
   
   padding-top: 20px;
}

